@use '@scss/media' as *;
@use '@scss/variables' as *;

.goods {
    padding: 20px 0 60px;

    @include tablet {
        padding: 32px 0 80px;
    }

    @include laptop {
        padding: 40px 0 100px;
    }

    @include tablet {
        padding-top: 32px;
    }

    @include laptop {
        padding-top: 40px;
    }

    &__title {
        font-family: $second-family;
        font-weight: 900;
        font-size: 24px;
        margin-bottom: 24px;

        @include tablet {
            font-size: 32px;
            margin-bottom: 32px;
        }

        @include laptop {
            margin-bottom: 40px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 239px));
        gap: 32px 8px;
        margin-bottom: 40px;

        @include tablet {
            grid-template-columns: repeat(3, minmax(140px, 239px));
            gap: 32px 10px;
        }

        @include laptop {
            grid-template-columns: repeat(3, minmax(140px, 307px));
            gap: 40px 16px;
            margin-bottom: 60px;
        }

        @include desktop {
            grid-template-columns: repeat(4, minmax(140px, auto));
        }
    }

    &__item {
    }

    &__card {
    }
}
